.App {
  text-align: center;
  height: 100%;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #CC58CE;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
}

html {
  background: linear-gradient(#FCFF7C, #E1BA54);
  height: 100%
}